regex.php
config.php
db_config.php
php.ini
system/logs/*
system/cache/*
download
image/cache/*
image/data/*
image/catalog/*
admin/php.ini
admin/config.php
system/library/paypal/logs
*.db
*.swo
*.swp
*.backup
.buildpath
.project
.settings/
upload/
*~
test.php
pack.sh
upload.txt
access.log
error.log
service/bootstrap.php
migrations/
.htaccess
test/phpunit.xml
test/htmldoc/*
test/testdoc.html
test/vendor/beyondit/opencart-test-suite/src/OpenCartTest.php
vqmod/vqcache/*
vqmod/logs/*
vqmod/mods.cache